<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jeopardy | Game #{{gameID}}</title>

    <script>
      var team1Score = 0;
      var team2Score = 0;
      var team3Score = 0;

      function initTeams(t1, t2, t3) {
        team1Score = t1;
        team2Score = t2;
        team3Score = t3;

        updateScores();
      }

      function setContent(content) {
        let contentTd = document.getElementById('question-content');
        if (content == "question") {
          contentTd.innerHTML = questionData.question;
        } else if (content == "answer") {
          contentTd.innerHTML = questionData.answer;
        } else {
          contentTd.innerHTML = "No content";
        }
      }

      function teamAnswered(team, isCorrect) {
        if (team == 1) {
          team1Score += questionData.value * (
            isCorrect
              ? 1
              : -1
          );
        } else if (team == 2) {
          team2Score += questionData.value * (
            isCorrect
              ? 1
              : -1
          );
        } else if (team == 3) {
          team3Score += questionData.value * (
            isCorrect
              ? 1
              : -1
          );
        }

        if (isCorrect) {
          setContent("answer");
        }

        updateScores();
      }

      function updateScores() {
        document.getElementById('team0Score').innerHTML = team1Score;
        document.getElementById('team1Score').innerHTML = team2Score;
        document.getElementById('team2Score').innerHTML = team3Score;
      }


      function init() {}function show(id) {
        document.getElementById(id).style.display = "block";
      }

      function submitScores() {
        let scores = {
          team1: team1Score,
          team2: team2Score,
          team3: team3Score
        };

        let xhr = new XMLHttpRequest();
        xhr.open("POST", `/jeopardy/game/{{gameID}}/question/{{ques}}/answer`, true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.onreadystatechange = function() {
          if (xhr.readyState == 4 && xhr.status == 200) {
            window.location.href = `/jeopardy/game/{{gameID}}?nocache=${
              (new Date()).getTime()
            }`;
          }
        };
        xhr.send(JSON.stringify(scores));
      }
    </script>

    <style>
      body {
        background-color: #000066;
        font-family: "Ariel Bold", sans-serif;
      }

      .board-background {
        background-color: #060CE9;
      }

      table#questionData {
        width: 70%;
        margin-left: auto;
        margin-right: auto;

        table-layout: fixed;
      }

      .teamName,
      .teamScore {
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: #FFFFFF;
      }


      .question-content {
        text-align: center;
        font-size: 4em;
        font-weight: bold;
        color: #FFFFFF;
        height: 80%;
      }

      .hidden {
        display: none;
      }
    </style>
  </head>
  <body onload="bodyInit()">


    <div id="board-parent">
      <table id="questionData">
        <tr class="question-content">
          <td id="category" onclick="show(`question`)">{{questionData.category}}</td>
          <td class="hidden" id="question" onclick="show(`answer`)">{{questionData.question}}</td>
          <td class="hidden" id="answer">{{questionData.answer}}</td>
        </tr>
        <tr>{{teamData}}</tr>
      </table>
    </div>


    <script>
      function bodyInit() {
        init();
      }
    </script>


  </body>
</html>